<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowLocker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WindowLocker.Properties.Settings>
            <setting name="IsSystemLocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="BlackBackground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideDesktopIcons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableSettingsApp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableTaskManager" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableHardwareAcceleration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableRemoteDesktop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableCommandPrompt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisablePowerShell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableRegistryEditor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableAdministrator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLoginUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLoginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableSmartScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableUAC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableWindowsUpdate" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowLocker.Properties.Settings>
    </userSettings>
</configuration>